# Rendered by matugen (ThemeEngine) into ~/.config/hypr/formalshell-colors.conf
# on every wallpaper/mode change; `source` it from hyprland.conf.
$primary = rgb({{colors.primary.default.hex_stripped}})
$primaryForeground = rgb({{colors.on_primary.default.hex_stripped}})
$background = rgb({{colors.surface.default.hex_stripped}})
$foreground = rgb({{colors.on_surface.default.hex_stripped}})
$border = rgb({{colors.outline_variant.default.hex_stripped}})
$destructive = rgb({{colors.error.default.hex_stripped}})
$warning = rgb({{colors.tertiary.default.hex_stripped}})
